main.py
brex/__pycache__/*
*.txt
*.log
tmp/*
*.pkl
*.pdf
__pycache__/*
.idea/

file_parameters.py
/test_file_parameters_local.py

ENSMUSG00000031583_cis_regs.csv

ENSMUSG00000031583_indels.bed

ENSMUSG00000031583_promoter_region.maf

*.bed

*.csv

*.maf
